main.phone {
  padding: 0 15px;

  display: flex;
  flex-direction: column;
}

.phone > .customInput {
  margin-top: 30px;
  margin-bottom: 50px;
}

main.phone > button {
  margin-top: 15px;
  width: 100%;

  padding: 15px 0;
  border-radius: 4px;

  border: 1px solid black;
}

.phone > .phone__certificate-input {
  display: none;
}

.phone__certificate-btn:disabled {
  cursor: default;
}
