doctype html
html
  head
    title= title
    block stylesheet
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/colors.css')
  body
    .app
      block content
