mixin Header(text, fallback)
    header(class="header")
        h1=text
        if (fallback === '/' || fallback === '/signin')
            a(class="header__fallback" href=fallback)="X"
        else if (fallback !== undefined)
            a(class="header__fallback" href=fallback)="<"