mixin Header(text, fallback, next)
    header(class="header")
        h1=text
        if (fallback === '/' || fallback === '/signin')
            a(class="header__fallback" href=fallback)="X"
        else if (fallback !== undefined)
            a(class="header__fallback" href=fallback)="<"
        
        if (next)
            a(class="header__next" href=next)="완료"