mixin Header(text, fallback)
    header(class="header")
        h1=text
        if (fallback === '/')
            a(class="header__fallback" href=fallback)="X"
        if (fallback === '/signin')
            a(class="header__fallback" href=fallback)="<"