mixin WoowaButton(disabled=false)
    if (disabled)
        button.woowaButton(disabled)
            if block
                block
    else 
        button.woowaButton(type="submit")
            if block
                block