mixin WoowaButton(isLink=false, href)
    if (isLink && href) 
        a.woowaButton(href=href)
            if block
                block
    else 
        button.woowaButton
            if block
                block