mixin WoowaButton(disabled=true)
    if (disabled)
        button.woowaButton(disabled)
            if block
                block
    else 
        button.woowaButton
            if block
                block