extends ../layout
include ../common/Header
include ../common/LinkTab

block stylesheet
  link(rel="stylesheet", href="/stylesheets/pages/main.css")
  link(rel="stylesheet", href="/stylesheets/common/LinkTab.css")
  link(rel="stylesheet", href="/stylesheets/common/Header.css")

block content
  main(class="mainPage")
    +Header('My배민')

    div(class="mainPage__banner")

    if user
      .delimiter
      .delimiter.woowa
      div.mainPage__about-user
        <em>#{ user.split('@')[0] }님, </em> 
        | 배민에 오신 것을 환영해요!
        form(action="/logout" method="POST") 
          button(type="submit").mainPage__logout-button 로그아웃
      .delimiter.woowa
      .delimiter
    else
      +LinkTab('로그인해주세요', '/signin', '/images/profile.png')
        
    div(class="mainPage__menuBox")
      a(class="mainPage__menu" href="#menu") A
      a(class="mainPage__menu" href="#menu") B
      a(class="mainPage__menu" href="#menu") C 
      a(class="mainPage__menu" href="#menu") D
      a(class="mainPage__menu" href="#menu") E
      a(class="mainPage__menu" href="#menu") F
    .delimiter 
    |
    +LinkTab("일회용품 덜 쓰기, 함께해요!", '#')
    .delimiter 
    |
    +LinkTab("베민페이 등록", '#')
    +LinkTab("가족 계정 관리", '#')
    +LinkTab("공지사항", '#')
    +LinkTab("배민 커넥트 지원", '#')