.header {
  text-align: center;

  padding: 20px 0;

  position: relative;
}

.header h1 {
  font-size: 16px;
}

.header a {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
