extends ../../layout
include ../../common/Header
include ../../common/CustomInput

block stylesheet
  link(rel="stylesheet", href="/stylesheets/pages/phone.css")
  link(rel="stylesheet", href="/stylesheets/common/Header.css")
  link(rel="stylesheet", href="/stylesheets/common/CustomInput.css")

block content
  main.phone 
    +Header('회원가입', '/signup/terms', '/signup/email')

    +CustomInput('휴대전화', '전화번호를 입력해주세요.', "phone__phone-input")

    button(type="button" disabled).phone__certificate-btn 인증번호 받기

    +CustomInput('인증번호', '인증번호를 입력해주세요.', "phone__certificate-input")


  script(src="/javascripts/customInput.js" type="module")
  script(src="/javascripts/phone.js" type="module")