extends ../../layout
include ../../common/Header
include ../../common/Term

block stylesheet
  link(rel="stylesheet", href="/stylesheets/common/Header.css")
  link(rel="stylesheet", href="/stylesheets/common/Term.css")
  link(rel="stylesheet", href="/stylesheets/pages/terms.css")

block content
  main.terms
    +Header('회원가입', '/signin')
    h2 
      p 어서오세요
      p 약관동의가 필요해요

    +Term('전체 선택', 'all-accept', true)
    .delimiter

    - var terms = [{text: '배달의민족 이용약관 동의', id: 'term1'}, {text: '전자금융거래 이용약관 동의', id: 'term2'}, {text: '개인정보 수집이용 동의', id: 'term3'}, {text: '개인정보 제3자 제공 동의 (선택)', id: 'term4'}, {text: '마케팅 정보 메일, SMS 수신동의 (선택)', id: 'term5'}]
    .terms__wrapper
      each term in terms
        +Term(term.text, term.id)

    .delimiter  
